<!DOCTYPE html>
<html>

  <head>
    <title>A simple site template</title>
    
    <!-- Not ideal but add all required libraries -->
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" src="js/vendor/sammy.js"></script>
    <script type="text/javascript" src="js/vendor/knockout.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="js/vendor/selfish.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Add all css files -->
    <link href="css/vendor/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <h1> Welcome to site design </h1>
  </body>

</html>
